<%- include('../partials/head'); %>

<%- include('../partials/header'); %>

<main>
  <div class="jumbotron">
    <h1>Uke 41 </h1>
    <h2></h2>
    <p>«Eg trur aldri eg har tenkt ein einaste tanke som kjem til å verke klok og fornuftig om to hundre år.» Synes jeg er en helt ufornuftig tanke. Hvis man ikke har en eneste tanke som er fornuftig om tohundre år har man virkelig gjort noe for de neste generasjonene. Man tenker kanskje at de som levde for tohundre år siden var noen gamle idioter, men hvis man ser tilbake i tid er det sakte utvikling. Så selv om man ikke gjør så mye selv så er nok mange idennde og ting mange gjør på jobb vil ha noe å si på fremtiden.


    </p>
    <p></p>
  </div>
</main>


<%- include('../partials/footer'); %>
    