<%- include('../partials/head'); %>

<%- include('../partials/header'); %>

<main>
  <div class="jumbotron">
    <h1>Tomt</h1>
    <p>Denne siden er tom</p>
    <p>Du kan ha kommet hit ved bruk av feil lenke</p>
  </div>
</main>


<%- include('../partials/footer'); %>
    