<%- include('../partials/head'); %>

<%- include('../partials/header'); %>

<main>
  <div class="jumbotron">
    <h1>Kjønsroller og "Tradwifes"</h1>
    <p>paragraf 1</p>
  </div>
</main>


<%- include('../partials/footer'); %>
